@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #3bb77e;
  color: white;
}

/* ...................................Appbar............................................ */

.apptopbar {
  border-bottom: 1px solid #e0e0e0;
}

.appBarDivWidth {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
}

/* .......................................navbar................................................. */

.navbar {
  font-family: "Quicksand", sans-serif;
  color: #253d4e;
  font-weight: 800;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

.navbar .catButton {
  background-color: #3bb77e;
}

.menu li:hover {
  cursor: pointer;
  color: #3bb77e;
}

.common_width {
  max-width: 1440px;
  margin: auto;
}

.section_padding {
  padding: 30px 0;
}

.SbcButtons {
  color: grey;
  background-color: #e6e6e6ad;
  border-radius: 50%;
  padding: 10px;
}

.sliderButton_1 {
  position: absolute;
  top: -37%;
  right: 1%;
}
.sliderButton_2 {
  position: absolute;
  top: -37%;
  right: 4.5%;
}

